.services-container{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.services-title{
  margin-bottom: 0.75em;
}

.services-subtitle{
  font-weight: normal;
  margin-bottom: 0.5em;
}

.dine-in-text{
  margin-bottom: 0.75em;
  color: var(--clr-accent);
}

.services-takeout-title{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.services-takeout-button{
  padding: 0.5em 2em;
  border: none;
  background: black;
  color: var(--clr-accent);
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);  
  margin-bottom: 1em;
  border-radius: 50px;
}

@media (min-width: 2560px) {
  .services-title{
    font-size: 7em;
    margin-bottom: 0.5em;
  }
  .services-subtitle{
    font-size: 5em;
  }
  .dine-in-text{
    font-size: 3em;
  }
  .services-takeout-title{
    font-size: 5em;
  }
  .services-takeout-button{
    font-size: 2em;
  }
}