.gallery-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272727;
  padding-top: 4em;
  padding-bottom: 1.5em;
}

.gallery-img{
  width: 100%;
  max-width: 800px;
}

.gallery-prev-button, .gallery-next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3em;
  color: var(--clr-light);
  opacity: 0.5;
  z-index: 5000;
}

.gallery-prev-button{
  margin-right: 1em;
}


@media (min-width: 800px) {
  .gallery-prev-button, .gallery-next-button {
    position: relative;
    top: -300px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-light);
    opacity: 0.5;
  }
  .gallery-prev-button{
    padding-right: 0;
    right: 300px;
  }
  
  .gallery-next-button{
    left: 300px;
  }
}
@media (min-width: 1440px) {
  .gallery-img{
    max-width: 800px;
    margin-top: 2em;
  }
  .gallery-prev-button, .gallery-next-button {
    font-size: 4em;
  }
  .gallery-prev-button{
    right: 400px;
  }
  .gallery-next-button{
    left: 400px;
  }
}
@media (min-width: 2560px) {

  .gallery-img{
    max-width: 1440px;
  }
  .gallery-prev-button, .gallery-next-button {
    font-size: 8em;
  }
  .gallery-prev-button{
    right: 800px;
    top: -600px;
  }
  .gallery-next-button{
    left: 800px;
    top: -600px;
  }
}