.order-item-container{
  font-size: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.decrease-quantity-button, .increase-quantity-button{
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
}

.add-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em auto;

}
.add-to-order-button{
  border: 1px solid;
  border-radius: 25px;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  padding: 0.5em 0.75em;
  font-weight: bold;
  font-size: 1.15em;
  animation: fadedin 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);  
  -webkit-animation: fadedin 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0); /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadedin 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0); /* Firefox < 16 */
  -ms-animation: fadedin 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0); /* Internet Explorer */
  -o-animation: fadedin 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0); /* Opera < 12.1 */
}
@keyframes fadedin {
  from { opacity:0%; }
  to   { opacity: 100%; }
}

/* Firefox < 16 */
@-moz-keyframes fadedin {
  from { opacity:0%; }
  to   { opacity: 100%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadedin {
  from { opacity:0%; }
  to   { opacity: 100%; }
}

/* Internet Explorer */
@-ms-keyframes fadedin {
  from { opacity:0%; }
  to   { opacity: 100%; }
}

/* Opera < 12.1 */
@-o-keyframes fadedin {
  from { opacity:0%; }
  to   { opacity: 100%; }
}

@media (min-width: 700px) {
  .add-to-order-button{
    font-size: 1em;
  }
}

@media (min-width:2560px) {
  .decrease-quantity-button, .increase-quantity-button{
    width: fit-content;
    height: fit-content;
  }
  .decrease-icon, .increase-icon{
    width: 30px;
    height: 30px;
  }
}