.footer-container{
  background: #1D1D1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-light);
}

.footer-logo{
  width: 75px;
  margin-top: 1em;
}

.footer-info{
  text-align: center;
  color: var(--clr-accent);
  font-size: 0.9em;
}

.footer-copyright{
  color: var(--clr-dark);
}

.footer-number{
  font-size: 1.1em;
  margin: 0 auto;
  padding: 0 auto;
}

@media (min-width: 1440px) {
  .footer-logo{
    width: 100px;
  }
  .footer-title{
    font-size: 3em;
  }
  .footer-info{
    font-size: 1.5em;
  }
  .footer-number{
    font-size: 1.5em;
  }
  .footer-copyright{
    font-size: 1.3em;
  }
}

@media (min-width: 2560px) {
  .footer-logo{
    width: 175px;
  }
  .footer-title{
    font-size: 6em;
  }
  .footer-info{
    font-size: 2.2em;
  }
  .footer-number{
    font-size: 2.2em;
  }
  .footer-copyright{
    font-size: 2em
  }
}